body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buscador {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buscador div {
    margin: 10px;
}

.cartas {
    display: flex;    
    justify-content: space-evenly;
}

.cartas div img{
    overflow: hidden;
    width: 280px;
    height: 170px;
}

footer {
    margin: 20px 40%;
}

.agregar {
    margin: 20px 10%;
}

.agregar div {
    margin: 2px;
}